body{
    font-family: Arial, Helvetica, sans-serif;
}
#carouselSlides{
    .carousel-item{
        position: relative;
        img{
            object-fit: contain;
        }
        .text-banner {
            position: absolute;
            bottom: 0;left: 35%;
            color: #FFFFFF;
        }
    }
}