nav{
    background-color: #424554;
    li > a{
        color: #fff;
        font-size: 18px;
        text-transform:uppercase;
    }
    button{
        color: #fff;
        background-color: transparent;
        border: none;
    }
}