.section-valuation{
    h1{
        font-weight: 300;
        margin-top: 20px;
    }
    .content{
        background-color: white;
        border-bottom: solid 2px #b8bbcb;
        padding:30px;
        p:firs
    }

}